.main__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1.5;
}

.txn__header {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: auto;
  padding: 0.7rem;
  font-size: 1.3rem;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.7);
}

.header__logo {
  width: 36px;
  height: 36px;
  margin-right: 10px;
}

.outer__container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.user__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  font-weight: 600;
  font-size: 0.8rem;
}

.user__avatar {
  width: 36px;
  height: 36px;
  margin-right: 10px;
  border-radius: 50%;
}

.account__details {
  display: flex;
  flex-direction: column;
  line-height: 1;
  text-align: left;
}

.chain__container {
  margin-left: auto;
  background-color: white;
  border: 3px solid white;
  color: blue;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  border-radius: 2rem;
}

.txn__container {
  width: 90%;
  height: 100%;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.6);
}

.txn__status {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-weight: 700;
  font-size: 1.2rem;
}

.status__title {
  margin-right: 10px;
  font-weight: 500;
  font-size: 1.2rem;
}

.details__title {
  margin: 0 20px 10px 0;
  font-weight: 500;
  font-size: 1.2rem;
}

.txn__pending {
  color: #f6a21e;
}
.txn__completed {
  color: #00a300;
}
.txn__failed {
  color: #d10000;
}

.txn__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.txn__hash__container {
  display: flex;
  max-width: fit-content;
  flex-direction: row;
}

.txn__hash__title {
  margin-right: 10px;
  font-weight: 500;
  font-size: 1.2rem;
}

.txn__hash__button {
  cursor: pointer;
  background-color: transparent;
  color: black;
  border: 2px solid black;
  border-radius: 1.5rem;
  font-weight: 700;
  padding: 0.2rem;
}

.details__body {
  list-style: none;
  width: 100%;
}

.txn__actionbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  padding: 1rem 1rem 2rem 1rem;
}

.action__button {
  max-width: fit-content;
  padding: 0.8rem;
  border-radius: 2rem;
  background-color: transparent;
  border: 3px solid black;
  color: black;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  margin: 0 10px 0 10px;
}

.action__button:hover {
  border: 3px solid white;
  background-color: white;
  filter: drop-shadow(0 1mm 1mm rgba(0, 0, 0, 0.65));
}
