.main__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  z-index: 2;
}

.switcher__container {
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.logo {
  margin-right: auto;
  width: 36px;
  height: 36px;
}

.landing__logo {
  height: 36px;
  width: auto;
}

.right__button {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: black;
  background-color: transparent;
  border: none;
  margin-left: auto;
  padding: 0;
  font-size: 1.5rem;
}

.left__button {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: black;
  background-color: transparent;
  border: none;
  margin-right: auto;
  padding: 0;
  font-size: 1.5rem;
}

.logout__icon {
  width: 100%;
}
