.out__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 30px;
}

.left__container {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--color-primary);
  font-weight: bold;
  font-size: 20px;
  margin-right: 50px;
}
.logo__container {
  padding-top: 3px;
}

.pages__container {
  display: flex;
  align-items: center;
  gap: 50px;
  font-weight: 100;
  font-size: 18px;
}

.middle__container {
  color: var(--color-primary);
  font-weight: 700;
  font-size: 20px;
  text-decoration: underline;
  margin-right: 50px;

  &:hover {
    cursor: pointer;
  }
}

.right__container {
  display: flex;
  color: var(--color-primary);
  gap: 50px;
  font-weight: 700;
}

.chain__logo {
  height: 30px;
}

.status__blurb,
.status__blurb__loading {
  padding: 10px 20px;
  &:hover{
    cursor: pointer;
  }
}

.status__blurb__loading {
  clip-path: inset(0 4ch 0 0);
  animation: l 1s steps(4) infinite;

  
}

.signer__init{
  color: var(--color-primary);
  a {
    text-decoration: underline;
  }
}

@keyframes l {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}
