.out__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 120px 0;
  color: var(--color-primary);
  max-width: var(--max-width);
}

.header__title{
  font-size: 60px;

  a{
    font-weight: bold;
    font-size: 70px;
  }
}

.header__container{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.content{
  max-width: 75%;
  font-size: 40px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .content{
    font-size: 15px;
  }
  .header__title{
    font-size: 30px;
  
    a{
      font-weight: bold;
      font-size: 35px;
    }
  }
  .header__container{
    justify-content: center;
    div{
      max-width: 100%;
    }
  }
}
