.header__container {
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title__container {
  color: var(--color-primary);
  font-size: 40px;
  font-weight: 700;

  a {
    font-size: 45px;
    font-weight: 900;
  }
}

.launch__button {
  width: 300px;
  background-image: linear-gradient(
    to right,
    #2579ff 0%,
    #ef6ff3 51%,
    #3e88ff 100%
  );
  padding: 20px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  border-radius: 100px;
  background-size: 200% auto;
  font-weight: bold;
  &:hover {
    cursor: pointer;
    background-position: right center; /* change the direction of the change here */
  }
}

.error__container{
  display: flex;
  flex-direction: column;
  color: red;
  font-weight: bold;
  justify-content: center;
  gap: 10px;
  align-items: center;
  padding-top: 30px;
}

.submit__container{
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.continue__button{
  background-color: var(--color-primary);
  padding: 10px 30px;
  border-radius: 20px;

  &:hover{
    filter: brightness(.5);
    cursor: pointer;
  }
}

