.main__container {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem 0 1rem;
  z-index: 1;
}

.action__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.5rem;
}

.action__button {
  width: 5rem;
  font-size: 0.8rem;
  font-weight: 400;
  color: black;
  cursor: pointer;
  padding: 0.7rem;
  margin: 0.5rem;
  border-radius: 3rem;
  background-color: rgba(255, 255, 255, 0.9);
  filter: drop-shadow(0 1mm 1mm rgba(0, 0, 0, 0.65));
  border: none;
}

.balance__container {
  width: 100%;
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
  text-align: center;
}

.crypto__balance {
  font-size: 3rem;
  font-weight: 500;
}

.usd__balance {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 400;
}

.profile__container {
  height: 45%;
  width: 100%;
  font-size: 0.5rem;
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  filter: drop-shadow(0 2mm 2mm rgba(0, 0, 0, 0.8));
}

.profile__image {
  margin-bottom: 10px;
  border-radius: 50%;
  height: 65%;
  width: auto;
}
