.main__container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
}

.amount__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3em;
  font-weight: 600;
  font-size: 0.8rem;
  margin-left: auto;
}

.action__container {
  width: 80%;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 0.8rem;
  margin-left: 10px;
}

.details__container {
  display: flex;
  flex-direction: row;
  font-weight: 400;
}

.txn__item {
  border-top: 3px solid white;
  border-bottom: 3px solid white;
}
