.background__container{
    position: absolute;
    background-color: white;
    top: 0;
    left: 0;
    z-index: -100;
    color: white;
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    max-height: 1500px;

}

.container{
    width: 100vw;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -50;
    overflow: hidden;}

.background__blur{
    width: 100vw;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -50;
    background-color: rgba(255, 255, 255, .2);
    -webkit-backdrop-filter: blur(3em);
    backdrop-filter: blur(3em);
    overflow: hidden;
}
.blob__1{
    position: absolute;
    top: 0;
    left: -70vw;
    width: 100vw;
    animation: rotation 20s infinite linear;
    z-index: -99;
    overflow: hidden;
     
}

.blob__2{
    position: absolute;
    top: -70vh;
    left: 70vw;
    width: 100vw;
    animation: rotation 20s infinite linear;
    z-index: -99;
     
}

.blob__3{
    position: absolute;
    top: -40vh;
    left: -50vw;
    width: 100vw;
    animation: rotation 30s infinite linear reverse;
    z-index: -99;
     
}

.blob__4{
    position: absolute;
    top: 0;
    left: 80vw;
    width: 100vw;
    animation: rotation 20s infinite linear;
    z-index: -99;
     
}

.blob__5{
    position: absolute;
    top: 100vh;
    left: -40vw;
    width: 100vw;
    animation: rotation 50s infinite linear;
    z-index: -99;
    overflow: hidden;
     
}

.blobs{
    height: 100%;
    width: 100%;
    overflow: hidden;
}


@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }