.main__container {
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 0;
  overflow-y: auto;
  z-index: 1;
}

.tab__container {
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

.li__active {
  border-bottom: 3px solid rgba(255, 255, 255, 0.8);
}

.tab__container li {
  height: 100%;
  width: 50%;
  padding: 0.5rem;
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
}

.content__container {
  width: 100%;
  height: 100%;
  overflow: auto;
}
